
h1 { font-family: 'EB Garamond', serif; text-align: center; font-size: 150%;}
h2 { font-family: 'Arizonia', cursive; text-align: center; font-size: 200%; color: rgb(204, 0, 0);}
h3 { font-family: 'Macondo Swash Caps', cursive; text-align: center; font-size: 80%; color: rgb(34,204, 0);}
	p {color: rgb(178, 190,181);}
#main {
	margin: auto;
	width: 600px;
}
